.App {
  text-align: center;
  font-family: monospace;
  margin-top: 15%;
}

h1 {
  color: black;
  font-family: monospace;
}

body {
  background-color: cornflowerblue;
}

.inputData[type=text] {

  border-radius: 25px;
  height: 20px;
  width: 30%;
  padding: 10px;
}
