@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-fast {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .animate-pulse-fast {
    animation: pulse-fast 0.9s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }